<div class="row m-4 pt-4">
    <div class="col-md-12 mb-4">
        <app-sub-header [headerTitle]="'Sub Category'">
            <p #filterButton class="paragraph">Lorem ipsum dolor sit amet.</p>
            <button #filterButton class="btn btn-success filter-button">Filter</button>
        </app-sub-header>
    </div>

    <div class="col-md-8" [ngClass]="isChildActivated ? 'col-md-8' : 'col-md-12'">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="subCategories.length; else noData" >
                    <tr *ngFor="let subCategory of subCategories">
                        <td>{{ subCategory.name }}</td>
                        <td>{{ subCategory.description }}</td>
                        <td>{{ subCategory.price | squareRoot:2 | number:'2.0-5' }}</td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <button
                                    appButtonEffect
                                    type="button"
                                    class="btn btn-sm btn-outline-danger me-2">
                                        Delete
                                </button>
                                <a
                                    [routerLink]="['edit', subCategory.id]"
                                    class="btn btn-sm btn-primary">
                                        Update
                                </a>
                            </div>
                            
                        </td>
                    </tr>
                </ng-container>

                <ng-template #noData>
                    <ng-container *ngTemplateOutlet="noDataFound; context: {message: 'No data found'}"></ng-container>
                </ng-template>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>

    <ng-template #noDataFound let-msg="message">
        <tr>
            <td colspan="4" class="text-center">
                {{ msg }}
            </td>
        </tr>
    </ng-template>
    
</div>